

<div class="form-group">
        
<%= form_for(@home) do |f| %>
  	<div class="col-xs-3">
  	<%= f.label :upload_csv_file_only%>
  </div>
  <div class="col-xs-9">
    <%= f.file_field :data , :accept => 'text/csv'%>
  </div>
  <div class="col-xs-12">
  <div class="actions">
    <%= f.submit "Done" ,class: "btn btn-default" %>
  </div>
  <br><br>
</div>
<% end %>
</div>
